* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: #dff;
}

#page {
  min-height: 100%;
  margin: 0 auto -75px;
  display: block;
  /* max-width: 540px; */
  /* padding: 0 1em; */
  /* background-color: white; */
}

#page:after {
  content: "";
  display: block;
}

#page:after, #footer {
  height: 75px;
}
 
#footer {
  /* width: 100%; */
  font-size: 0.75em;
  color: white;
  display: block;
  /* margin: auto; */
  /* padding: 1em; */
  /* position: absolute; */
  /* bottom: 0; */
}

#header {
  text-align: center;
}

#main {
  /* margin: 3em 0; */
}

td.r {
  //background-color: red;
}

td.b {
  //background-color: black;
}
 
td.active {
  background-color: #ff6;
}
 
td.available {
  background-color: #6ff;
}
 
 #board {
  margin: 1em auto;
  background-color: #eee;
  border: solid 3px #440;
  text-shadow: none;
}

#board th {
  background: none;
}

#board tr {
  background-color: black;
  height: 32px;
}

#board td {
  text-align: right;
  width: 30px;
  color: white;
  font-size: 0.5em;
  vertical-align: bottom;
}

#footer p {
  margin: 0 auto;
  padding: 0.5em 2em;
  max-width: 540px;
}

#footer a:link {
  color: #ff6;
}

#footer a:visited {
  color: #ff6;
}

.red {
  background-color: #f43;
}

.black {
  background-color: #222;
}
